<div>
    <h2 translate="tenderworkApp.project.home.title">Projects</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="project.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs" translate="tenderworkApp.project.home.createLabel">Create new Project
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="{{ 'tenderworkApp.project.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="search()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="reset()">
                    <th jh-sort-by="name"><span translate="tenderworkApp.project.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="client"><span translate="tenderworkApp.project.client">Client</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="deadline"><span translate="tenderworkApp.project.deadline">Deadline</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="editedDate"><span translate="tenderworkApp.project.editedDate">EditedDate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="state"><span translate="tenderworkApp.project.state">State</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="editedBy.login"><span translate="tenderworkApp.project.editedBy">editedBy</span> <span class="glyphicon glyphicon-sort"></span></th>
                </tr>
            </thead>
            <tbody data-link="row" class="rowlink" infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
                <tr class="rowLink" ng-repeat="project in projects track by project.id">
                    <td><a ui-sref="project.detail({id:project.id})">{{project.name}}</a></td>
                    <td>{{project.client}}</td>
                    <td>{{project.deadline | date:'mediumDate'}}</td>
                    <td>{{project.editedDate | date:'medium'}}</td>
                    <td><span ng-show="project.state=='states.new'" class="" translate="states.new">NW: {{ translated.state.new }}</span>
                        <span ng-show="project.state=='states.closed'" class="" translate="states.closed">NW: {{ project.state }}</span>
                        <span ng-show="project.state=='states.pending'" class="" translate="states.pending">NW: {{ project.state }}</span>
                        <span ng-show="project.state=='states.won'" class="" translate="states.won">NW: {{ project.state }}</span>
                        <span ng-show="project.state=='states.lost'" class="" translate="states.lost">NW: {{ project.state }}</span>
                    <td>{{project.editedBy.login}}</td>
                    <!--<td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="project.detail({id:project.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="project.edit({id:project.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="project.delete({id:project.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>-->
                </tr>
            </tbody>
        </table>
    </div>
</div>
