tr.rowLink:hover {
    background:#cfcfcf !important;
}

span.projectdetail{
    font-weight: bold !important;
}

div.border-hack {
    border: 1px solid #ff0000;
}

.desktop-border {
    border-top: 1px solid #cf00cf;
    border-right: 2px solid #cf00cf;
    border-left: 1px solid #cf00cf;
    border-bottom: 2px solid #cf00cf;
    border-radius: 4px 4px 12px 6px;
}

div.left-padder {
    padding-left:22px;
}

div.right-padder {
    padding-right:22px;
}

div.bg-always-white {
    background-color:#ffffff !important;
}

div.bg-always-gray {
    background-color:#f9f9f9 !important;
}

div.wrap-field {
    text-overflow:ellipsis;
    overflow:hidden;
}

div.wrap-field:hover {
    word-wrap: break-word;
}

.preformatted {
    white-space:pre-wrap;
}

textarea {
    resize:vertical;
}

div.description-header {

    padding-bottom:8px;
    padding-top:8px;
}

div.description-text-field {
    padding-top:8px;
}

div.bottom-border-1 {
    border-bottom: 1px solid #cfcfcf;
}

.btn-newestimate{
    bottom: 15px;
    position: relative;
    top: 15px;
}

span.requirementlisting{
    padding-left:5px;
}

div.box-padding-margin {
    padding-top:8px;
    padding-bottom:8px;
    margin-bottom:14px;
}

div.bottom-margin-1 {
    margin-bottom:14px;
}

div.padding-detail-header-field {
    padding-bottom:4px;
    padding-top:8px;
}
div.padding-detail-text-field {
    padding-bottom:8px;
}





