tr.rowLink:hover {
    background:#cfcfcf !important;
}

span.projectdetail{
    font-weight: bold !important;
}

div.border-hack {
    border: 1px solid #ff0000;
}

.reqtitle{
    font-weight: bold !important;
}

.reqname{
    font-weight: bold !important;
    font-size: medium;
}

.desktop-border {
    border-top: 1px solid #c0c0c0;
    border-right: 2px solid #c0c0c0;
    border-left: 1px solid #c0c0c0;
    border-bottom: 2px solid #c0c0c0;
    border-radius: 4px 4px 12px 6px;
}

div.left-padder {
    padding-left:22px;
}

div.right-padder {
    padding-right:22px;
}

div.bg-always-white {
    background-color:#ffffff !important;
}

.panel-default > .panel-heading-req {
    background: #f0f0f0; }

.panel-default > .panel-heading-task {
    background: #f9f9f9; }



div.bg-always-gray {
    background-color:#f9f9f9 !important;
}

div.bg-always-darkgray {
    background-color:#f0f0f0 !important;
}

div.wrap-field {
    text-overflow:ellipsis;
    overflow:hidden;
}

div.wrap-field:hover {
    word-wrap: break-word;
}

.preformatted {
    white-space:pre-wrap;
}

textarea {
    resize:vertical;
}

div.description-header {

    padding-bottom:8px;
    padding-top:8px;
}

div.description-text-field {
    padding-top:8px;
}

div.reqtitle-text-field {
    padding-top:15px;
}

div.bottom-border-1 {
    border-bottom: 1px solid #cfcfcf;
}

.btn-newestimate{
    bottom: 15px;
    position: relative;
    top: 15px;
}

.titlepadding{
    padding-left: 3px;
}

.btn-newrequirement{
    bottom: 10px;
    position: relative;
    top: 20px;
}

.btn-newtask{
    bottom: 15px;
    position: relative;
    top: 20px;
}
input.margin-hack {
    margin-top:0px;
}
div.btn-bottom{
    padding-bottom:5px;
}

span.requirementlisting{
    padding-left:5px;
    padding-top:10px;
    font-weight: bold !important;
}

div.box-padding-margin {
    padding-top:8px;
    padding-bottom:8px;
    margin-bottom:14px;
}

div.box-padding-margin2 {
    padding-top:8px;
    margin-bottom:14px;
}

div.bottom-margin-1 {
    margin-bottom:14px;
}

div.padding-detail-header-field {
    padding-bottom:4px;
    padding-top:8px;
}
div.padding-detail-text-field {
    padding-bottom:8px;
}



