
<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left"><h2><span translate="tenderworkApp.estimate.detail.title">Estimate</span> {{estimate.id}}</h2></div>

    <div class="col-xs-8 no-padding-right">
        <div class="btn-group pull-right">
            <button type="submit"
                    ui-sref="project.detail({id:estimate.ownerProject.id})"
                    class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
            </button>
            <button type="submit" class="btn btn-primary btn-sm"
                    ui-sref="estimate.edit({id:estimate.id})" class="btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-pencil"></span>
                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
            </button>
            <button type="submit"
                    ui-sref="estimate.delete({id:estimate.id})"
                    class="btn btn-danger btn-sm">
                <span class="glyphicon glyphicon-remove-circle"></span>
                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
            </button>
        </div>
    </div>
    </div>
</div>

    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
            <tr>
                <td>
                    <span translate="tenderworkApp.estimate.workdaysInMonth">WorkdaysInMonth</span>
                </td>
                <td>
                    <span class="form-control-static">{{estimate.workdaysInMonth}}</span>
                </td>

                <td>
                    <span translate="tenderworkApp.estimate.desiredProjectDuration">DesiredProjectDuration</span>
                </td>
                <td>
                    <span class="form-control-static">{{estimate.desiredProjectDuration}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="tenderworkApp.estimate.dailyPrice">DailyPrice</span>
                </td>
                <td>
                    <span class="form-control-static">{{estimate.dailyPrice}}</span>
                </td>
                <td>
                    <span translate="tenderworkApp.estimate.specificationFactor">SpecificationFactor</span>
                </td>
                <td>
                    <span class="form-control-static">{{estimate.specificationFactor}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="tenderworkApp.estimate.implementationFactor">ImplementationFactor</span>
                </td>
                <td>
                    <span class="form-control-static">{{estimate.implementationFactor}}</span>
                </td>

                <td>
                    <span translate="tenderworkApp.estimate.testingFactor">TestingFactor</span>
                </td>
                <td>
                    <span class="form-control-static">{{estimate.testingFactor}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="tenderworkApp.estimate.synergyBenefit">SynergyBenefit</span>
                </td>
                <td>
                    <span class="form-control-static">{{estimate.synergyBenefit}}</span>
                </td>

                <td>
                    <span translate="tenderworkApp.estimate.totalPrice">TotalPrice</span>
                </td>
                <td>
                    <span class="form-control-static">{{estimate.totalPrice}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="tenderworkApp.estimate.totalDuration">TotalDuration</span>
                </td>
                <td>
                    <span class="form-control-static">{{estimate.totalDuration}}</span>
                </td>
                <td>
                    <span translate="tenderworkApp.estimate.resourcing">Resourcing</span>
                </td>
                <td>
                    <span class="form-control-static">{{estimate.resourcing}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="tenderworkApp.estimate.totalSynergyBenefit">TotalSynergyBenefit</span>
                </td>
                <td>
                    <span class="form-control-static">{{estimate.totalSynergyBenefit}}</span>
                </td>
                <td>
                    <span translate="tenderworkApp.estimate.createdBy">createdBy</span>
                </td>
                <td>
                    {{estimate.createdBy.login}}
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="tenderworkApp.estimate.ownerProject">ownerProject</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="project.detail({id:estimate.ownerProject.id})">{{estimate.ownerProject.name}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="well">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-4 no-padding-left"><h3 translate="tenderworkApp.requirement.home.title">Requirements</h3></div>
                <div class="col-xs-8 no-padding-right">
                    <br />
                    <button class="btn btn-primary pull-right" ui-sref="requirement.new({estimateId:estimate.id})" >
                        <span class="glyphicon glyphicon-plus"></span>
                    <span
                        class="hidden-xs"                        translate="tenderworkApp.requirement.home.createLabel">Create new Requirement
                    </span>
                    </button>
                </div>

                <!--
                <div class="col-xs-8 no-padding-right">
                    <form name="searchForm" class="form-inline">
                        <div class="input-group pull-right" >
                            <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="{{ 'tenderworkApp.estimate.home.search' | translate }}">
                            <span  class="input-group-btn width-min" >
                                <button class="btn btn-info" ng-click="search()">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>-->
            </div>
        </div>
        <jh-alert></jh-alert>

        <div class="table-responsive" ng-controller="RequirementController">
            <table class="jh-table table table-striped">
                <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="reset()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span translate="tenderworkApp.requirement.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span translate="tenderworkApp.requirement.description">Desc</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="totalDuration"><span translate="tenderworkApp.requirement.totalDuration">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="durationSpecification"><span translate="tenderworkApp.requirement.durationSpecification">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="durationImplementation"><span translate="tenderworkApp.requirement.durationImplementation">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="durationTesting"><span translate="tenderworkApp.requirement.durationTesting">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="synergyBenefit"><span translate="tenderworkApp.requirement.synergyBenefit">Desc</span> <span class="glyphicon glyphicon-sort"></span></th>
                </tr>
                </thead>
                <tbody data-link="row" class="rowlink" infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
                <tr class="rowLink" ng-repeat="requirement in requirements track by requirement.id">
                    <td><a href="#" ui-sref="requirement.detail({id:requirement.id})">{{requirement.id}}</a></td>
                    <td>{{requirement.name}}</td>
                    <td>{{requirement.description}}</td>
                    <td>{{requirement.totalDuration}}</td>
                    <td>{{requirement.durationSpecification}}</td>
                    <td>{{requirement.durationImplementation}}</td>
                    <td>{{requirement.durationTesting}}</td>
                    <td>{{requirement.synergyBenefit}}</td>
                   </tr>
                </tbody>
            </table>
        </div>
        </div>



    <button type="submit"
            ui-sref="project.detail({id:estimate.ownerProject.id})"
  nk" n     class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
