
<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left"><h2><span translate="tenderworkApp.estimate.detail.title">Estimate</span> {{estimate.id}}</h2></div>

            <div class="col-xs-8 no-padding-right">
                <div class="btn-group pull-right">
                    <button type="submit"
                            ui-sref="project.detail({id:estimate.ownerProject.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm"
                            ui-sref="estimate.edit({id:estimate.id})" class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>
                        <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                    </button>
                    <button type="submit"
                            ui-sref="estimate.delete({id:estimate.id})"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                        <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="row" data-tndr-height-max-check>
                    <div class="col-xs-12 col-sm-4 right-padder">
                        <div class="row desktop-border bg-desktop-white bg-mobile-white" data-tndr-height-max-target>
                            <div class="row" data-tndr-height-max-check>
                                <div class="col-xs-12">
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="col-sm-12 col-xs-6 padding-detail-header-field">
                                            <span translate="tenderworkApp.estimate.totalPrice" class="projectdetail">TotalPrice</span>
                                        </div>
                                        <div class="col-sm-12 col-xs-6">
                                            <span class="form-control-static">{{estimate.totalPrice}}</span>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-6">
                                        <div class="col-sm-12 col-xs-6 padding-detail-header-field">
                                            <span translate="tenderworkApp.estimate.totalDuration" class="projectdetail">TotalDuration</span>
                                        </div>
                                        <div class="col-sm-12 col-xs-6">
                                            <span class="form-control-static">{{estimate.totalDuration}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="col-sm-12 col-xs-6 padding-detail-header-field">
                                            <span translate="tenderworkApp.estimate.resourcing" class="projectdetail">Resourcing</span>
                                        </div>
                                        <div class="col-sm-12 col-xs-6">
                                            <span class="form-control-static">{{roundedResourcing}}</span>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-6">
                                        <div class="col-sm-12 col-xs-6 padding-detail-header-field">
                                            <span translate="tenderworkApp.estimate.totalSynergyBenefit" class="projectdetail" ng-show="task.synergyCheck=='true'">TotalSynergyBenefit</span>
                                        </div>
                                        <div class="col-sm-12 col-xs-6">
                                            <span class="form-control-static" ng-show="task.synergyCheck=='true'">{{estimate.totalSynergyBenefit}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 right-padder" data-tndr-height-max-check>
                        <div class="row desktop-border bg-desktop-white bg-mobile-white" data-tndr-height-max-target>
                            <div class="row" data-tndr-height-max-check>
                                <div class="col-xs-12">
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="col-sm-12 col-xs-6 padding-detail-header-field">
                                            <span translate="tenderworkApp.estimate.workdaysInMonth" class="projectdetail">WorkdaysInMonth</span>
                                        </div>
                                        <div class="col-sm-12 col-xs-6">
                                            <span class="form-control-static">{{estimate.workdaysInMonth}}</span>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-6">
                                        <div class="col-sm-12 col-xs-6 padding-detail-header-field">
                                            <span translate="tenderworkApp.estimate.desiredProjectDuration" class="projectdetail">DesiredProjectDuration</span>
                                        </div>
                                        <div class="col-sm-12 col-xs-6">
                                            <span class="form-control-static">{{estimate.desiredProjectDuration}}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="col-sm-12 col-xs-6 padding-detail-header-field">
                                            <span translate="tenderworkApp.estimate.dailyPrice" class="projectdetail">DailyPrice</span>
                                        </div>
                                        <div class="col-sm-12 col-xs-6">
                                            <span class="form-control-static">{{estimate.dailyPrice}}</span>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-6">
                                        <div class="col-sm-12 col-xs-6 padding-detail-header-field">
                                            <span translate="tenderworkApp.estimate.createdBy" class="projectdetail">createdBy</span>
                                        </div>
                                        <div class="col-sm-12 col-xs-6">
                                            <span class="form-control-static">{{estimate.createdBy.login}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="row desktop-border bg-desktop-white bg-mobile-white" data-tndr-height-max-target>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="col-sm-12 col-xs-6 padding-detail-header-field">
                                            <span translate="tenderworkApp.estimate.specificationFactor" class="projectdetail">SpecificationFactor</span>
                                        </div>
                                        <div class="col-sm-12 col-xs-6">
                                            <span class="form-control-static">{{estimate.specificationFactor}}</span>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-6">
                                        <div class="col-sm-12 col-xs-6 padding-detail-header-field">
                                            <span translate="tenderworkApp.estimate.implementationFactor" class="projectdetail">ImplementationFactor</span>
                                        </div>
                                        <div class="col-sm-12 col-xs-6">
                                            <span class="form-control-static">{{estimate.implementationFactor}}</span>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-6">
                                        <div class="col-sm-12 col-xs-6 padding-detail-header-field">
                                            <span translate="tenderworkApp.estimate.testingFactor" class="projectdetail">TestingFactor</span>
                                        </div>
                                        <div class="col-sm-12 col-xs-6">
                                            <span class="form-control-static">{{estimate.testingFactor}}</span>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-6">
                                        <div class="col-sm-12 col-xs-6 padding-detail-header-field">
                                            <span translate="tenderworkApp.estimate.synergyBenefit" class="projectdetail">SynergyBenefit</span>
                                        </div>
                                        <div class="col-sm-12 col-xs-6">
                                            <span class="form-control-static">{{estimate.synergyBenefit}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--
            <tr>
                <td>
                    <span translate="tenderworkApp.estimate.ownerProject">ownerProject</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="project.detail({id:estimate.ownerProject.id})">{{estimate.ownerProject.name}}</a>
                </td>
            </tr>
            -->
    </div>
    </div>

    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-4 no-padding-left"><h3 translate="tenderworkApp.requirement.home.title">Requirements</h3></div>
                <div class="col-xs-8 no-padding-right btn-newestimate">
                    <button class="btn btn-primary pull-right" ui-sref="requirement.new({estimateId:estimate.id})" >
                        <span class="glyphicon glyphicon-plus"></span>
                    <span
                        class="hidden-xs"                        translate="tenderworkApp.requirement.home.createLabel">Create new Requirement
                    </span>
                    </button>
                </div>

                <!--
                <div class="col-xs-8 no-padding-right">
                    <form name="searchForm" class="form-inline">
                        <div class="input-group pull-right" >
                            <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="{{ 'tenderworkApp.estimate.home.search' | translate }}">
                            <span  class="input-group-btn width-min" >
                                <button class="btn btn-info" ng-click="search()">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>-->
            </div>
        </div>
        <jh-alert></jh-alert>

        <div>
            <div class="panel panel-default">
                <div class="panel-body" ng-controller="RequirementController">
                    <table class="table table-condensed" style="border-collapse:collapse;">

                        <tbody>
                        <tr>
                            <td><div data-toggle="collapse" data-target="#demo{{requirement.id}}" class="accordion-toggle" ng-repeat="requirement in requirements track by requirement.id">
                                <div>
                                    <div class="col-lg-1">
                                        <button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open"></span></button>
                                    </div>

                                    <div class="col-lg-2">
                                        <span translate="global.field.id" class="projectdetail">ID</span>
                                        <span class="requirementlisting">{{requirement.id}}</span>
                                    </div>

                                    <div class="col-lg-9">
                                        <span translate="tenderworkApp.requirement.name" class="projectdetail">Name</span>
                                        <span class="requirementlisting">{{requirement.name}}</span>
                                    </div>
                                </div>

                                <div>
                                    <table class="table table-striped">

                                    <thead>
                                    <tr>
                                        <td class="hiddenRow row">
                                            <div class="accordion-body collapse" id="demo{{requirement.id}}">


                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <tbody>
                                                        <tr>
                                                            <td>
                                                                <span translate="tenderworkApp.requirement.description" class="projectdetail">Desc</span>
                                                            </td>
                                                            <td>
                                                                <span class="form-control-static">{{requirement.description}}</span>
                                                            </td>

                                                            <td>
                                                                <span translate="tenderworkApp.requirement.totalDuration" class="projectdetail">TotalDuration</span>
                                                            </td>
                                                            <td>
                                                                <span class="form-control-static">{{requirement.totalDuration}}</span>
                                                            </td>

                                                            <td>
                                                                <span translate="tenderworkApp.requirement.durationSpecification" class="projectdetail">DurationSpecification</span>
                                                            </td>
                                                            <td>
                                                                <span class="form-control-static">{{requirement.durationSpecification}}</span>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>
                                                                <span translate="tenderworkApp.requirement.durationImplementation" class="projectdetail">DurationImplementation</span>
                                                            </td>
                                                            <td>
                                                                <span class="form-control-static">{{requirement.durationImplementation}}</span>
                                                            </td>

                                                            <td>
                                                                <span translate="tenderworkApp.requirement.durationTesting" class="projectdetail">DurationTesting</span>
                                                            </td>
                                                            <td>
                                                                <span class="form-control-static">{{requirement.durationTesting}}</span>
                                                            </td>

                                                            <td>
                                                                <span translate="tenderworkApp.requirement.synergyBenefit" class="projectdetail">SynergyBenefit</span>
                                                            </td>
                                                            <td>
                                                                <span class="form-control-static">{{requirement.synergyBenefit}}</span>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                        </td>
                                    </tr>
                                    </thead>
                                    <tbody>




                                            <div class="panel-body" ng-controller="TaskController">
                                                <table class="table table-condensed" style="border-collapse:collapse;">

                                                    <tbody>
                                                    <tr>
                                                        <td><div data-toggle="collapse" data-target="#demo{{task.id}}" class="accordion-toggle" ng-repeat="task in tasks track by task.id">
                                                            <div>
                                                                <div class="col-lg-1">
                                                                    <button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open"></span></button>
                                                                </div>

                                                                <div class="col-lg-2">
                                                                    <span translate="global.field.id" class="projectdetail">ID</span>
                                                                    <span class="requirementlisting">{{task.id}}</span>
                                                                </div>

                                                            </div>

                                                            <div>
                                                                <table class="table table-striped">

                                                                    <tbody>
                                                                    <tr>
                                                                        <td class="hiddenRow row">
                                                                            <div class="accordion-body collapse" id="demo{{task.id}}">


                                                                                <div class="table-responsive">
                                                                                    <table class="table">
                                                                                        <tbody>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <span translate="tenderworkApp.task.id" class="projectdetail">ID</span>
                                                                                            </td>
                                                                                            <td>
                                                                                                <span class="form-control-static">{{task.id}}</span>
                                                                                            </td>
                                                                                        </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>


                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>

                                                                </table>

                                                            </div>
                                                            </div>

                                                        </td>

                                                    </tr>

                                                    </tbody>
                                                </table>
                                            </div>

                                     </tbody>
                                    </table>

                                </div>
                                </div>
                            </td>

                        </tr>

                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>

    <button type="submit"
            ui-sref="project.detail({id:estimate.ownerProject.id})" class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>

</div>
