
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myRequirementLabel" translate="tenderworkApp.requirement.home.createOrEditLabel">Create or edit a Requirement</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="requirement.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="tenderworkApp.requirement.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="requirement.name"
                    required ng-minlength="1" ng-maxlength="60" />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.minlength" translate="entity.validation.minlength" translate-value-min="1">
                    This field is required to be at least 1 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="60">
                    This field cannot be longer than 60 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="tenderworkApp.requirement.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="requirement.description"
                    ng-maxlength="1000" />
            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                    ng-show="editForm.description.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="1000">
                    This field cannot be longer than 1000 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <tags-input ng-model="tags"></tags-input>
        </div>
        <!--
        <div class="form-group">
            <label class="control-label" translate="tenderworkApp.requirement.totalDuration" for="field_totalDuration">TotalDuration</label>
            <input type="number" class="form-control" name="totalDuration" id="field_totalDuration"
                    ng-model="requirement.totalDuration"
                    min="0" />
            <div ng-show="editForm.totalDuration.$invalid">
                <p class="help-block"
                    ng-show="editForm.totalDuration.$error.min" translate="entity.validation.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.totalDuration.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        -->
        <!--
        <div class="form-group">
            <label class="control-label" translate="tenderworkApp.requirement.durationSpecification" for="field_durationSpecification">DurationSpecification</label>
            <input type="number" class="form-control" name="durationSpecification" id="field_durationSpecification"
                    ng-model="requirement.durationSpecification"
                    min="0" />
            <div ng-show="editForm.durationSpecification.$invalid">
                <p class="help-block"
                    ng-show="editForm.durationSpecification.$error.min" translate="entity.validation.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.durationSpecification.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        -->
        <!--
        <div class="form-group">
            <label class="control-label" translate="tenderworkApp.requirement.durationImplementation" for="field_durationImplementation">DurationImplementation</label>
            <input type="number" class="form-control" name="durationImplementation" id="field_durationImplementation"
                    ng-model="requirement.durationImplementation"
                    min="0" />
            <div ng-show="editForm.durationImplementation.$invalid">
                <p class="help-block"
                    ng-show="editForm.durationImplementation.$error.min" translate="entity.validation.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.durationImplementation.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        -->
        <!--
        <div class="form-group">
            <label class="control-label" translate="tenderworkApp.requirement.durationTesting" for="field_durationTesting">DurationTesting</label>
            <input type="number" class="form-control" name="durationTesting" id="field_durationTesting"
                    ng-model="requirement.durationTesting"
                    min="0" />
            <div ng-show="editForm.durationTesting.$invalid">
                <p class="help-block"
                    ng-show="editForm.durationTesting.$error.min" translate="entity.validation.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.durationTesting.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        -->
        <!--
        <div class="form-group">
            <label class="control-label" translate="tenderworkApp.requirement.synergyBenefit" for="field_synergyBenefit">SynergyBenefit</label>
            <input type="number" class="form-control" name="synergyBenefit" id="field_synergyBenefit"
                    ng-model="requirement.synergyBenefit"
                    min="0" />
            <div ng-show="editForm.synergyBenefit.$invalid">
                <p class="help-block"
                    ng-show="editForm.synergyBenefit.$error.min" translate="entity.validation.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.synergyBenefit.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        -->
        <!--
        <div class="form-group">
            <label translate="tenderworkApp.requirement.owner" for="field_owner">owner</label>
            <select class="form-control" id="field_owner" name="owner" ng-model="requirement.owner" ng-options="user as user.login for user in users track by user.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="tenderworkApp.requirement.ownerEstimate" for="field_ownerEstimate">ownerEstimate</label>
            <select class="form-control" id="field_ownerEstimate" name="ownerEstimate" ng-model="requirement.ownerEstimate" ng-options="estimate as estimate.id for estimate in estimates track by estimate.id">
                <option value=""></option>
            </select>
        </div>
        -->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
