<div>
    <h2 translate="tenderworkApp.task.home.title">Tasks</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="task.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
class="hidden-xs"                        translate="tenderworkApp.task.home.createLabel">Create new Task
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="{{ 'tenderworkApp.task.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="search()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="reset()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span translate="tenderworkApp.task.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span translate="tenderworkApp.task.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="estimateSpecification"><span translate="tenderworkApp.task.estimateSpecification">EstimateSpecification</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="estimateImplementation"><span translate="tenderworkApp.task.estimateImplementation">EstimateImplementation</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="estimateTesting"><span translate="tenderworkApp.task.estimateTesting">EstimateTesting</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="estimateSynergy"><span translate="tenderworkApp.task.estimateSynergy">EstimateSynergy</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="synergyCheck"><span translate="tenderworkApp.task.synergyCheck">SynergyCheck</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="synergyTotal"><span translate="tenderworkApp.task.synergyTotal">SynergyTotal</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="estimateTotal"><span translate="tenderworkApp.task.estimateTotal">EstimateTotal</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="ownedBy.login"><span translate="tenderworkApp.task.ownedBy">ownedBy</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="specificationFactor.specificationFactor"><span translate="tenderworkApp.task.specificationFactor">specificationFactor</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="implementationFactor.implementationFactor"><span translate="tenderworkApp.task.implementationFactor">implementationFactor</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="testingFactor.testingFactor"><span translate="tenderworkApp.task.testingFactor">testingFactor</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="synergyBenefit.synergyBenefit"><span translate="tenderworkApp.task.synergyBenefit">synergyBenefit</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="ownerRequirement.name"><span translate="tenderworkApp.task.ownerRequirement">ownerRequirement</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
                <tr ng-repeat="task in tasks track by task.id">
                    <td><a ui-sref="task.detail({id:task.id})">{{task.id}}</a></td>
                    <td>{{task.name}}</td>
                    <td>{{task.description}}</td>
                    <td>{{task.estimateSpecification}}</td>
                    <td>{{task.estimateImplementation}}</td>
                    <td>{{task.estimateTesting}}</td>
                    <td>{{task.estimateSynergy}}</td>
                    <td>{{task.synergyCheck}}</td>
                    <td>{{task.synergyTotal}}</td>
                    <td>{{task.estimateTotal}}</td>
                    <td>
                        {{task.ownedBy.login}}
                    </td>
                    <td>
                        <a ui-sref="estimate.detail({id:task.specificationFactor.id})">{{task.specificationFactor.specificationFactor}}</a>
                    </td>
                    <td>
                        <a ui-sref="estimate.detail({id:task.implementationFactor.id})">{{task.implementationFactor.implementationFactor}}</a>
                    </td>
                    <td>
                        <a ui-sref="estimate.detail({id:task.testingFactor.id})">{{task.testingFactor.testingFactor}}</a>
                    </td>
                    <td>
                        <a ui-sref="estimate.detail({id:task.synergyBenefit.id})">{{task.synergyBenefit.synergyBenefit}}</a>
                    </td>
                    <td>
                        <a ui-sref="requirement.detail({id:task.ownerRequirement.id})">{{task.ownerRequirement.name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="task.detail({id:task.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="task.edit({id:task.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="task.delete({id:task.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
